.wrapper {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  position: relative;
}

.graph {
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (min-device-width: 480px) {
  :global(.u-richtext:before) {
    background: none !important;
  }
}